$applicationColor: rgba(13, 12, 34, 1);
$applicationFontBlueColor: rgba(191, 194, 255, 1);
$applicationFontColor: rgba(255, 255, 255, 1);
$applicationFontGrayColor: rgba(145, 144, 154, 1);
$applicationInputColor: rgba(17, 29, 51, 1);
$applicationInputBorderColor: rgba(36, 48, 79, 1);
$applicationBlocksColor: rgba(14, 22, 42, 1);
$applicationFont: 'Montserrat', sans-serif;
$applicationFontSize: 16px;
